{% extends "base.html" %}
{% block title %}新增密碼{% endblock %}

{% block content %}
<h2>新增密碼</h2>
<form action="{{ url_for('password_manager.add_password') }}" method="POST">
    <label for="site_name">網站名稱:</label><br>
    <input type="text" name="site_name" required><br><br>

    <label for="site_username">網站用戶名:</label><br>
    <input type="text" name="site_username" required><br><br>

    <label for="site_password">密碼:</label><br>
    <input type="password" name="site_password" required><br><br>

    <button type="submit">新增</button>
</form>
{% endblock %}
