{% extends "base.html" %}
{% block title %}編輯密碼{% endblock %}

{% block content %}
<h2>編輯密碼</h2>
<form action="{{ url_for('password_manager.edit_password', entry_id=entry.id) }}" method="POST">
    <label for="site_name">網站名稱:</label><br>
    <input type="text" name="site_name" value="{{ entry.site_name }}" required><br><br>

    <label for="site_username">網站用戶名:</label><br>
    <input type="text" name="site_username" value="{{ entry.site_username }}" required><br><br>

    <label for="site_password">密碼:</label><br>
    <input type="password" name="site_password" required><br><br>

    <button type="submit">更新</button>
</form>
{% endblock %}
